# Data Science Tools and Ecosystem #

This notebook summarizes Data Science tools and Ecosystem.

**objectives:**
* List popular languages used by Data Scientist
* List commonly used libraries by Data Scientist
* List some of the popular Open Source Data Science Tools
* Evaluate simple arithmetic expressions in Python

Popular languages commonly used by Data Scientist;
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Libraries commonly used by Data Scientist include;
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|JupyterLab        |
|R Studio          |
|Spyder            |

### Below are a few examples of evaluating arithmetic expressions in python ###

In [4]:
# This is a simple arithmetic expression to first multiply and then add the numbers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author ##
Jude Ter Mark